table {
    border-collapse:collapse;
    margin: 0 0 20px 0;
    border-width: 0;
    width: 100%;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}
th {
    text-align:left;
}
tr, td, th {
    border-color: #f2f2f2;
}
tr:hover {
    background-color: #e1e1e4b4;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1 0 auto;
    display: inline-block;
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    background-color: #F6F6F6;
  }

h1 {
    color: #0B3F38;
    font-size: 3em;
}


h3 {
    color: #0B3F38;
}

b {
    color: #0B3F38;
}

.total {
    font-weight: bold;
    color: #fb8500;
    display: inline;
}

.label {
    font-size: larger;
    font-weight: 500;
}

a {
    text-decoration: none; 
    color: #222e50;
}

a:hover {
    color: #bc6c25;
}

h1 {
    font-size: 3em;
}

h2 {
    font-weight: normal;
}

.form-container {
    display: flex;
    justify-content: space-around; /* Adjust spacing or change to 'space-between' as needed */
    align-items: flex-start; /* Aligns form groups at the top */
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures the button stays at the bottom */
    flex: 1; /* Makes each form group take equal width */
    margin-right: 20px; /* Space between form groups */
}

.form-group:last-child {
    margin-right: 0; /* No margin on the last form group */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    margin-top: auto; /* Pushes the button to the bottom */
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px; 
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
}

.btn {
    background-color: #0B3F38;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.btn:hover {
    background-color: #fb8500;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item {
    margin: 0 5px; /* Space between buttons */
}

.page-link {
    display: block;
    padding: 8px 16px;
    background-color: #0B3F38;;
    color: white; /* Blue color similar to the screenshot */
    border: 1px solid #ddd;
    text-decoration: none; /* Removes underline from links */
}

.page-link:hover,
.page-item.active .page-link {
    background-color: #fb8500;
    color: white;
}

.page-item.disabled .page-link {
    color: #ccc; /* Light grey for disabled links */
    cursor: not-allowed;
    pointer-events: none; /* Prevents clicking on the link */
}