<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trips</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.7/r-3.0.2/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.datatables.net/v/dt/dt-2.0.7/r-3.0.2/datatables.min.js"></script>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">&#127968 Home | Solid Waste Violations</a>
          </nav>
          <h1 class="display-4">{{ category }}</h1>
          <h2>{{ description|safe }}</h2>
          <h3>There are currently <div class="total">{{ hazardous_count }}</div> total {{ category }} violations.</h4>
        <table id="violations" class="display">
          <thead>
          <tr>
            <th>Details</th>
            <th>Site Name</th>
            <th>County</th>
            <th>Violation Date</th>
            <th>Resolved Date</th>
            <th>Violation Type</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for violation in violation_list %}
        <tr>
          <td><a href="{{ url_for('detail', id=violation.id) }}">View</a></td>
          <td><a href="{{ url_for('site', site_no=violation.site_no) }}">{{ violation.site_name }}</a></td>
          <td><a href="{{ url_for('county', slug=violation.county_obj.slug) }}">{{ violation.county }}</td>
          <td>{{ violation.violation_date if violation.violation_date not in ['', 'None'] else 'None' }}</td>
          <td>{{ violation.resolved_date if violation.resolved_date not in ['', 'None'] else 'None' }}</td>
          <td>{{ violation.media }}</td>
          <td>{{ violation.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
      </table>
      <script type="text/javascript">
        let table = new DataTable('#violations', {
          responsive: true, paging: false, scrollY: 400, order: [[3, 'desc']]});
    </script>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>