<!doctype html>
<html>
  <head>
    <title>Solid Waste Violations</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">&#127968 Home | Solid Waste Violations</a>
          </nav>
          <h1>Violation Details</h1>
          <h2 class="display-4"><b><a href="{{ url_for('site', site_no=violation.site_no) }}">{{ site_name }}</a></b>, located in <b><a href="{{ url_for('county', slug=violation.county_obj.slug) }}">{{ county }}</a></b>, recieved a {{ violation_type }} violation on {{ date_start }}. This site has recieved <div class="total">{{ other_violation_count }}</div> other violations.</h1>
          <h2>The current status of this violation is {{ violation.status }}.</h2>
          <h3>Additional information from the Maryland Department of the Environment:</h3>
          <h2>
            <ul>
            <li>{{ violation.violation }}</li></ul></h2>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>