<!doctype html>
<html>
  <head>
    <title>Trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Violation</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">{{ site_name }}, located at {{ street_address}}, recieved a violation on {{ violation_date }}.</h1>
          <h1 class="display-4">The violation was for {{ media }}</h1>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>