<!doctype html>
<html>
  <head>
    <title>Solid Waste Violations</title>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">&#127968 Home | Solid Waste Violations</a>
          </nav>
          <h1 class="site-title">Maryland Solid Waste Program Violations 🚮</h1>
          <h2>The Maryland Department of the Environment's Land and Materials Administration is in charge of the <b>Solid Waste Program (SWP)</b>, which ensures solid waste — otherwise known as garbage or refuse — is handled properly. This includes household, commercial and industrial waste.</h2>
          <h2>Poor handling of solid waste can lead to environmental, public safety and public health hazards. Examples include rodent and insect infestations, as well as surface and groundwater pollution, which can affect the water Maryland residents drink.
          </h2>
          <h2>There have been <div class="total">{{ total_count }}</div> total solid waste violations since July 2021. </h2>
          <ul>
            <li><h2 class="bullet"><b><a href="{{ url_for('site', site_no=site_with_most_violations.site_no) }}">{{ site_with_most_violations.site_name }}</a></b> has received the most violations with <span class="total">{{site_with_most_violations.count}}</span>.</h2></li>
            <li><h2 class="bullet"><b>{{ most_violations.county }}</b> is the jurisdiction that has the most violations with <span class="total">{{ most_violations.count }}</span>.</h2></li>
            <li><h2 class="bullet">The most common violation is <b>{{ most_common.type }}</b>, with <span class="total">{{most_common.count}}</span></b>.</h2></li>
          </ul>
          <h3>Use the dropdowns to view violations by county or learn what each violation type means. From there, you can learn more about individual violations and sites.
          </h3>

          <div class="form-container">
            <div class="form-group">
                <label for="county-select" class="label">Filter by County:</label>
                <br>
                <form action="{{ url_for('redirect_to_county') }}" method="post">
                    <select name="slug" id="county-select">
                        {% for county in counties %}
                        <option value="{{ county.slug }}">{{ county.county }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">GO!</button>
                </form>
            </div>
        
            <div class="form-group">
                <label for="category-select" class="label">Filter by Violation Type:</label>
                <br>
                <form action="{{ url_for('redirect_to_category') }}" method="post">
                    <select name="category_slug" id="category-select">
                        {% for slug, name in categories.items() %}
                        <option value="{{ slug }}">{{ name[1] }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn">GO!</button>
                </form>
            </div>
        </div>
        <footer>
          <p>Coded and designed by Apurva Mahajan.</p>
        </footer>
        </div>
      </div>
    </div>
  </div>
 
  </body>
</html>