<!doctype html>
<html>
  <head>
    <title>Trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Violation</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Maryland Solid Waste Program Violations</h1><br>
          <br>
          <h2 class="display-5">blah blah blah this is what solid waste violations are. this is what the SWP is paragraph blah blah blah.</h2>
          <br>
          <h2>There are currently {{ total_count }} total violations.</h2>
          <br>
          <h2>Search by county: </h2>
          <div class="col-md-6">
            <br>
            <form action="{{ url_for('redirect_to_county') }}" method="post">
              <select name="slug">
                  {% for county in counties %}
                  <option value="{{ county.slug }}">{{ county.county.title() }}</option>
                  {% endfor %}
              </select>
              <button type="submit">Go</button>
          </form>
          <br>
          </div>
          <h2 class="display-5">Violation Type:</h4>
          <br>
          <h3 class="display-8"><a href="/refuse-disposal">Refuse Disposal</a> - {{ refuse_count }}</h3>
          <h3 class="display-8"><a href="/hazardous-waste">Hazardous Waste</a> - {{ hazardous_count }} </h3>
          <h3 class="display-8"><a href="/composting">Composting</a> - {{ compost_count }} </h3>
          <h3 class="display-8"><a href="/scrap-tire">Scrap Tire</a> - {{ tire_count }}</h3>
          <h3 class="display-8"><a href="natural-wood-waste">Natural Wood Waste</a> - {{ wood_count }}</h3>
          <h3 class="display-8"><a href="/sewage-sludge">Sewage Sludge</a> - {{ sewage_count }}</h3>
          <h3 class="display-8"><a href="/balloon-release">Balloon Release</a> - {{ balloon_count}}</h3>
          <h3 class="display-8"><a href="surface-water-discharge">Unauthorized Surface Water Discharge</a> - {{ surface_water_count }}</h3>
        </div>
      </div>
    </div>
  </body>
</html>