<!doctype html>
<html>
  <head>
    <title>Trips</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Violation</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Refuse Disposal</h1>
          <br>
          <h3 class="display-6">This is a paragraph about what the refuse disposal violation is.</h3>
          <br>
          <h4>There are currently {{ refuse_count }} total refuse disposal violations.</h4>
          <br>
        <table border=1 cellpadding=7>
          <tr>
            <th>Site Name</th>
            <th>County</th>
            <th>Violation Date</th>
            <th>Violation Type</th>
        </tr>
        {% for violation in refuse_list %}
        <tr>
          <td><a href="/site/{{ violation['site_no'] }}">{{ violation['site_name'] }}</a></td>
          <td>{{ violation['county'] }}</td>
          <td>{{ violation['violation_date'] }}</td>
          <td>{{ violation['media'] }}</td>
        </tr>
        {% endfor %}
      </table>
      <nav>
        <ul class="pagination">
            <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page - 1 }}">Previous</a>
            </li>
            {% for i in range(1, total_pages + 1) %}
            <li class="page-item {% if i == page %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
                <a class="page-link" href="?page={{ page + 1 }}">Next</a>
            </li>
        </ul>
    </nav>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>